<p><?= e(trans('nextlevels.formhandler::lang.model.form.hint')) ?></p>
<p><?= e(trans('nextlevels.formhandler::lang.model.form.hint_content')) ?>: <b><span class="key-string"></span></b></p>
<script>
    $(window).load(function () {
        renderFieldNames();
        var repeaterLength = 0;

        $(document).on('change', 'div[data-field-name="field_name"]', function () {
            renderFieldNames();
        });

        $(document).on('click', '.confirm.btn.btn-primary', function () {
            repeaterLength = $('#MLRepeater-formRules-items-rules li').length;
            var handle = setInterval(ready, 1000);

            function ready() {
                if ($('#MLRepeater-formRules-items-rules li').length < repeaterLength) {
                    renderFieldNames();
                    clearInterval(handle);
                }
            }
        });
    });

    function renderFieldNames() {
        var data = '';

        $('div[data-field-name="field_name"]').each(function () {
            var inputVal = $(this).find("input").val();

            if (inputVal !== '') {
                data += '{' + $(this).find("input").val() + '} ';
            }
        });

        if (data !== '') {
            $('.key-string').text(data);
        } else {
            $('.key-string').text('<?= e(trans("nextlevels.formhandler::lang.model.form.hint_no_keys")) ?>');
        }
    };
</script>